/* BLOCKS
---------------------------------------------------------------------*/

@import 'blocks/effect';

@import 'blocks/typo';
@import 'blocks/embed';
@import 'blocks/link';
@import 'blocks/button';
@import 'blocks/table';
@import 'blocks/list';
@import 'blocks/form';

@import 'blocks/breadcrumb';
@import 'blocks/paginator';
@import 'blocks/tab';
@import 'blocks/progress';

@import 'blocks/spinner';
@import 'blocks/overlay';
@import 'blocks/tip';
@import 'blocks/bubble';
@import 'blocks/badge';

@import 'blocks/ruble';
