/* путь до библиотеки кода */
lib = '../../lib/css/';

@import 'settings'


/* Полезности */

@import lib +'tools'


/* Нормализация стилей */

@import lib +'base'


/* Глобальные модификаторы */

@import lib +'useful'


/* Абстрактные блоки */

@import 'blocks_abstract'


/* Глобальные помощники */

@import lib +'helpers'


/* Контексные блоки */

@import 'blocks_context'
