/*
 * Настройка
 */

selectionBG = #b3d3fd
selectionC = #000

linkColor = #006cb5
linkHoverColor = #ac0000

infoColor = #777
errorColor = #900000
successColor = #3e791e

lineHeight = 1.5em

icons_path = '/img/interface/icons'

// Tip_BG = red
