/* BLOCKS - BREADCRUMBS
---------------------------------------------------------------------*/

/*doc

### Breadcrumbs

Показывает положение пользователя при многоуровневой навигации и позволяет перейти на любой предыдущий уровень. Активная страница — `active`.

<div class="Breadcrumbs">
  <ul class="Breadcrumbs__list">
    <li class="Breadcrumbs__item"><a href="#">Главная</a></li><li class="Breadcrumbs__item active"><span>Обратная связь</span></li>
  </ul>
</div>
*/

.Breadcrumbs {
  cursor: default;
  line-height: 1;
}
.Breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Breadcrumbs__item {
  display: inline-block;
  margin-top: 0;
  margin-right: .4em;
  vertical-align: baseline;
  
  &:after {
    content: "";
    display: inline-block;
    margin-top: -.17em;
    margin-left: .5em;
    vertical-align: middle;
  }
  
  &:after {
    /*background-image: url("/img/interface/breadcrumb_arrow.png");*/
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAGCAMAAAAxO9Q+AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABlJREFUeNo9xLENAAAAgjD4/2ldlDQg7XMCAGAAB8JM/K8AAAAASUVORK5CYII=") no-repeat;
    height: 6px;
    width: 3px;
  }

  &.active:after {
    display: none;
  }
}