/* BLOCKS - EMBEDDED
---------------------------------------------------------------------*/

/*
<span class="Icon actions"></span>
*/

.Icon {
	@extend .v-a-m-true;
	background: url(icons_path) no-repeat;
	display: inline-block;
	
	a& {
		text-decoration: none;
	}
	a & {
		margin-right: .4em;
	}
}
.ielte7 .Icon {
	display: inline;
	zoom: 1;
}
