/* BLOCKS - SPINNER
---------------------------------------------------------------------*/

/*doc

### Spinner

Индикатор продолжительного процесса.
Работает, где есть анимации и трансформации.

```html
<span class="Spinner"></span> Загрузка
```
*/

.Spinner {
	animation: Spinner linear .7s infinite;
	border-radius: 100%;
	border: .33em solid #ffc1c1;
	border-top-color: red;
	display: inline-block;
	height: .75em;
	font-size: 1em;
	margin-top: -.2em;
	vertical-align: middle;
	width: .75em;
}
@keyframes Spinner {
	100% {transform: rotate(360deg);}
}
